<!DOCTYPE html>
<html>
<head>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<title>Payment Page</title>
</head>
<body>
<h1>Payment Page</h1>
<form>
	<div class="form-group">
		<label for="payment_field">Amount</label>
		<input id="payment_field" type="text" class="form-control" placeholder="Enter amount" required>
	</div>
	<div class="form-group text-center">
		<button type="button" class="btn btn-success btn-block" onclick="PaymentStart()">Pay</button>
	</div>
	<div class="form-group text-center">
		<button type="button" class="btn btn-success btn-block" onclick="invoice()">Invoice</button>
	</div>
</form>

<script>
        const PaymentStart = () => {
            console.log("payment started..");
            let amount = $("#payment_field").val();
            console.log(amount);
            if (amount == "" || amount == null || amount == 0) {
                // alert("Amount is required!!");
				swal("Failed !!", "Amount is required!!", "error");
                return;
            }
            if (isNaN(amount)) {
                // alert("Invalid amount format. Please enter valid amount.");
                swal("Failed !!", "Invalid amount format. Please enter valid amount!!", "error");
                return;
            }

            // Make the AJAX request to create payment
            $.ajax({
                url: '/payment',
                data: { amount: amount },
                type: 'POST',
                dataType: 'json',
                success: function(response) {
                    // Invoke when success
                    console.log(response);
					if(response.status ==  "created"){
						//open payment form
						let options={
							key:'rzp_test_QvfhRP9slPcend',
							amount: response.amount,
							currency: 'INR',
							name: 'Zumply Health',
							image: 'https://avatars.githubusercontent.com/u/128212455?v=4',
							order_id:response.id,
							method:response.method,
							handler:function(response){
								console.log(response.razorpay_payment_id);
								console.log(response.razorpay_order_id);
								console.log(response.razorpay_signature);
								console.log('payment successful !!');
								//alert("congrates !! payment successful !!");
								swal("Good job!", "congrates !! payment successful !!", "success");
							},
							"prefill": {
							"name": "",
							"email": "",
							"contact": ""
							},
							"notes": {
								"address": "Book Appointment"
							},
							"theme": {
								"color": "#F37254"
							},
						};
						let rzp=new Razorpay(options);

						rzp.on('payment.failed', function (response){
							console.log(response.error.code);
							console.log(response.error.description);
							console.log(response.error.source);
							console.log(response.error.step);
							console.log(response.error.reason);
							console.log(response.error.metadata.order_id);
							console.log(response.error.metadata.payment_id);
							// alert("Oops payment failed !!");
							swal("Faild!", "Oops payment failed !!!", "error");
						});
						rzp.open();
					}
                },
                error: function(error) {
                    // Invoke when error
                    console.log(error.responseText);
                    alert("Something went wrong!!");
                }
            });
        };

		const invoice = () => {
            console.log("invoice started..");
		}
    </script>
</body>
</html>


<!--<script>-->
<!--	function PaymentStart() {-->
<!--		var amount = document.getElementsByName('amount')[0].value;-->
<!--		var currency = document.getElementsByName('currency')[0].value;-->
<!--		var receipt = document.getElementsByName('receipt')[0].value;-->
<!--		var payment_capture = document.getElementsByName('payment_capture')[0].value;-->

<!--		var options = {-->
<!--			"key": "rzp_test_QvfhRP9slPcend",-->
<!--			"amount": amount,-->
<!--			"currency": currency,-->
<!--			"name": "My Website",-->
<!--			"description": "Test Payment",-->
<!--			"image": "https://example.com/your_logo",-->
<!--			"order_id": "",-->
<!--			"handler": function (response){-->
<!--				alert(response.razorpay_payment_id);-->
<!--				// You can submit the form to your server to verify the PaymentEntity-->
<!--				document.forms[0].submit();-->
<!--			},-->
<!--			"prefill": {-->
<!--				"name": "John Doe",-->
<!--				"email": "johndoe@example.com",-->
<!--				"contact": "+919876543210"-->
<!--			},-->
<!--			"notes": {-->
<!--				"address": "Hello World"-->
<!--			},-->
<!--			"theme": {-->
<!--				"color": "#F37254"-->
<!--			}-->
<!--		};-->

<!--		// Create a Razorpay checkout object-->
<!--		var rzp = new Razorpay(options);-->

<!--		// Open the Razorpay checkout window-->
<!--		rzp.open();-->
<!--	}-->
<!--</script>-->


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>-->

<!--	<title>Payment Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Payment Page</h1>-->
<!--<form action="/PaymentEntity" method="POST">-->

<!--	<input type="hidden" value="Hidden Element" name="hidden">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--	<script-->
<!--			src="https://checkout.razorpay.com/v1/checkout.js"-->
<!--			data-key="rzp_test_QvfhRP9slPcend"-->
<!--			data-amount="500"-->
<!--			data-currency="INR"-->
<!--			data-buttontext="Pay"-->
<!--			data-name="Zumply Health"-->
<!--			data-description="Payment for Appointment"-->
<!--			data-image="https://avatars.githubusercontent.com/u/128212455?v=4"-->
<!--			data-prefill.name="rahul"-->
<!--			data-prefill.email="rahul@gmail.com"-->
<!--			data-theme.color="#F37254">-->
<!--	</script>-->